black==24.10.0
boto3==1.34.69
botocore==1.34.69
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.8
contourpy==1.2.0
cycler==0.12.1
Deprecated==1.2.14
exceptiongroup==1.2.2
Faker==24.3.0
fonttools==4.50.0
idna==3.6
iniconfig==2.1.0
jmespath==1.0.1
kiwisolver==1.4.5
matplotlib==3.8.3
mypy-extensions==1.0.0
numpy==1.26.4
opensearch-py==2.5.0
opensearch-py-ml==1.1.0
overrides==7.4.0
packaging==23.2
pandas==2.0.3
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.3.7
pluggy==1.5.0
pytest==8.2.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.1
requests-aws4auth==1.2.3
s3transfer==0.10.1
six==1.16.0
tenacity==8.5.0
tomli==2.2.1
typing_extensions==4.13.2
tzdata==2024.1
urllib3==1.26.18
wrapt==1.16.0
pytest==8.2.2
tenacity==8.5.0
requests_aws4auth==1.2.3
overrides==7.4.0
python-dotenv==1.0.1
black==24.10.0
